server:
  port: 8081

spring:
  application:
    name: auth-user-service
  datasource:
    url: jdbc:mysql://localhost:3306/ecom_auth_db
    username: root
    password: +_D^^p@k65
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
  cloud:
    config:
      enabled: false

jwt:
  secret: MySecretKeyForJWTTokenGenerationWhichShouldBeAtLeast256BitsLongForSecurity
  access-token-expiration: 86400000  # 24 hours
  refresh-token-expiration: 604800000  # 7 days

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  metrics:
    export:
      prometheus:
        enabled: true

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html