server:
  port: 8086

spring:
  application:
    name: payment-service
  datasource:
    url: jdbc:mysql://localhost:3306/ecom_payment_db
    username: root
    password: +_D^^p@k65
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
  cloud:
    config:
      enabled: false

stripe:
  secret:
    key: sk_test_51YourStripeSecretKey

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  metrics:
    export:
      prometheus:
        enabled: true

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html